/* Стили общие для всех страниц */
body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Это позволяет использовать flexbox для вертикального выравнивания элементов */
    justify-content: center; /* Выравнивание содержимого по горизонтали */
}

header, main, footer {
    text-align: center; /* Выравнивание текста по центру */
    width: 100vw; /* Ширина сайта равна ширине окна браузера */
    max-width: 1200px; /* Максимальная ширина содержимого */
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    justify-content: center; /* Центрирование по горизонтали */
}

/* Стили для кнопок навигации */
nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}

.nav-btn {
    text-decoration: none;
    background-color: #ffffff;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s ease;
    display: inline-block; /* Размещение кнопок в строку */
}

.nav-btn:hover {
    background-color: #ffffff;
}

.food-btn, .drink-btn {
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

.room-btn {
    width: 100%; /* Ширина кнопки занимает всю доступную ширину родительского контейнера */
    padding: 20px; /* Поля вокруг текста */
    margin-bottom: 20px; /* Отступ между кнопками */
    background-color: #ffffff; /* Цвет фона кнопки */
    border: none; /* Убираем границу */
    border-radius: 10px; /* Закругляем углы кнопки */
    cursor: pointer; /* Изменяем курсор при наведении на кнопку */
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
    text-align: left; /* Выравнивание текста по левому краю */
}

.room-btn:hover {
    background-color: #ffffff; /* Изменение цвета фона при наведении */
}

.room-btn h3 {
    margin-top: 0; /* Убираем отступ сверху у заголовка */
}

.room-btn p {
    margin-bottom: 10px; /* Отступ снизу у параграфов */
}

/* Стили для кнопок номеров */
.room-btn {
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}


main {
    padding: 20px;
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 5px;
}

.item-details {
    flex-grow: 1;
}

.item-details h2 {
    margin: 0;
}

.item-details p {
    margin: 5px 0;
}

.remove-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.checkout-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
